:root {
    --azul-escuro: #34344e;
    --azul-primario: #3a415a;
    --azul-secundario: #566981;
    --Azul-terceario: #89a7b1;
    --azul-letras: #cbdad5;
}

html {
    box-sizing: border-box;
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    align-items: center;
    background: linear-gradient(#3a415a, #566981, #89a7b1);
    color: var(--azul-letras);
}

.cabeçalho_texto {
    background-color: #34344e;
    font-weight: 700;
    font-size: 45px;
    color: var(--azul-letras);
    width: 100%;
    text-align: center;
}

.container {
    width: 1000px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 400px;
    
}
